@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;   
}
.inicio {
    background: url(../img/fondo.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 12px 0;
}

.logo {
    color: #fff;
    display: flex;
    align-items: center;
}
.logo_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 8px;
}
.logo_nombre {
    color: #EFB732;
    font-size: 34px;
}
.ul {
    display: flex;
    list-style: none;
}
.ul li {
    margin: 0 20px;
}
.ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5s ease;
    position: relative;
    padding-bottom: 3px;
}
.ul li a:hover {
    color: #EFB732;
}

.ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 2px;
    background: #EFB732;
    transition: all .5s ease;
}
.ul li a:hover::after{
    width: 90%;
}
.contactar {
    color: #000;
    text-decoration: none;
    background: #EFB732;
    padding: 11px 25px;
    border-radius: 20px;
    display: block;
    transition: all .5s ease;
}
.contactar:hover {
    transform: scale(1.05);
    color: #fff;
}
.responsive {
    display: none;
}
img {
    width: 80px;
}




.informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.contenedor_informacion {
    text-align: center;
    width: 60%;
}


.titulo {
    color: #EFB732;
    font-size: 65px;
}

.texo_info {
    color: #fff;
    font-size: 25px;
}
.texo_info span {
    color: #EFB732;  
    font-weight: bold;
}

.botones {
    display: flex;
    width: max-content;
    margin: 20px auto;
    gap: 15px;
}

.boton {
    background: #EFB732;
    color: #000;
    text-decoration: none;
    padding: 13px 40px;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 20px;
    transition: all .5s ease;
}
.boton:hover {
    transform: scale(1.05);
    color: #fff;
}
.boton i {
    margin-left: 7px;
}


.redes {
    width: max-content;
    margin: 0 auto;
    background: rgba(0, 0, 0, .03);
    border-radius: 20px;
}
.icono {
    font-size: 45px;
    color: #EFB732;
    text-decoration: none;
    margin: 10px 15px;
}

.nuevoContenedor{
    display: none;
}







.nosotros {
    padding: 80px 0;
}
.contenedor_nosotros {
    border: 2px solid #000;
    width: 95%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
}
.titulo_nosotros {
    font-size: 50px;
    letter-spacing: -1px;
    position: relative;
    width: max-content;
    margin-bottom: 20px;
}
.titulo_nosotros::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 3px;
    background: #000;
}

.contenedor_info {
    display: flex;
    align-items: center;
}

.descripcion {
    padding: 30px;
    width: 60%;
}
.descripcion_texto {
    line-height: 1.4;
}
.boton_nosotros {
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 16px;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 20px;
    transition: .5s ease;
}
.boton_nosotros:hover {
    transform: scale(1.05);
}
.boton_nosotros i {
    margin-left: 8px;
    font-size: 1.2rem;
}


.contenedor_imagen {
    width: 40%;
    display: flex;
    justify-content: center;
}
.imagen_fondo {
    width: 90%;
    background: #000;
    max-width: 500px;
}
.imagen_nosotros {
    width: 100%;
    transform: translate(-3%, -2%);
}


@media screen and (max-width: 1028px) {
    .menu_navegacion {
        position: fixed;
        top: 0;
        right: -100%;
        width: 30%;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        transition: all .5s ease;
    }
    .menu_navegacion .nav {
        height: 100%;
    }
    .nuevoContenedor {
        display: flex;
        justify-content: flex-end;
        padding: 5px 16px;
        margin-top: 15px;
    }
    #cerrar {
        color: #EFB732;
        font-size: 32px;
    }
    .menu_navegacion .ul {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }
    .menu_navegacion .ul li {
        margin: 12px 0;
    }
    .responsive {
        margin-left: 20px;
        background: #EFB732;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 7px 10px;
    }
    .responsive i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 37px;
    }
    .contenedorBotonIcono {
        display: flex;
        align-items: center;
    }
    .contenedor_informacion {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .menu_navegacion {
        width: 50%;
    }
    .contenedor_nosotros{
        width: 98%;
        padding: 10px;
        border: 0;
    }
    .contenedor_info {
        flex-flow: column-reverse;
        margin-top: 40px;
        width: 100%;
    }
    .descripcion {
        width: 100%;
        padding: 0;
        padding: 10px;
        margin-top: 40px;
        text-align: center;
    }
    .boton_nosotros {
        margin-left: auto;
        margin-right: auto;
    }
    .contenedor_imagen {
        width: 100%;
        margin-top: 40px;
    }
    .imagen_fondo {
        max-width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .boton_contacto {
        display: none;
    }
    .contenedor_informacion {
        width: 95%;
    }
    .titulo {
        font-size: 45px;
    }
    .texo_info {
        font-size: 20px;
    }
    .boton {
        padding: 10px 20px;
    }
}
